.nav-bar{
    position: fixed;
    top: 0;
    text-transform: uppercase;
    display: flex;
    justify-content:center;
    align-items: center;
    background: linear-gradient(90deg,#C6DAF1 40%, #D3C3E9 100%);
    color: #2574ce;
    font-weight: 600;
    font-size: 0.7rem;
    width: 100%;
    height: 2rem;
    margin-bottom: -2rem;
}