.spinner-container {
    position: relative;
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.confetti-container{
    z-index: 100;
}

.spinner-container button {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #f0f0f0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}

.spinner-container button::before {
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background-color: #f0f0f0;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
}

.spinner-container .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.spinner-container .wheel .wheel-segment{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #f0f0f0;
    transform-origin: bottom right;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.spinner-container .wheel .wheel-segment span {
    position: relative;
    transform: rotate(45deg);
    color: white;
    font-weight: 400;
    /* text-transform: uppercase; */
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
